<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.maven.NewSample2"/>
      </classes>
      </test> <!-- Test -->
      <test name="Test1">
      <parameter name="browser" value="Edge"></parameter>
      <classes>
      <class name="com.maven.NewSampleCase"/>
      
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
